.antes{
    color: rgba(220, 220, 220, 0.734);
}
.joke-box {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.joke-box:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}
