<section class="bg-dark text-white text-center d-flex justify-content-center align-items-center seccion1" style="height: 30vh;">
  <div>
    <h1 class="display-5 fw-bold">Mis Proyectos</h1>
    <p class="lead">Estos son los trabajos remunerados que he desarrollado  hasta el momento</p>
  </div>
</section>

<section class="bg-black text-white overflow-auto seccion2 d-flex justify-content-center align-items-center" style="height: calc(70vh - 8.5rem);">
  <div class="container py-4">
    <div class="row justify-content-center g-4">
      
      <div class="col-10 col-sm-6 col-lg-5">
        <div class="card bg-dark text-white h-100 shadow-sm">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-center">MALOCA JOVEN</h5>
            <p class="card-text flex-grow-1">Este es el que mas me gusta, en UX/UI es el mas completo, el unico defecto es que no es una pagina responsive, fue la primera pagina que hice incluso antes del bootcamp, incluso al dia de hoy es de las mejores que he hecho en el tema de UX/UI se uso JavaScript, html y css</p>
            <a href="https://malocajoven.com/" target="_blank" class="btn btn-outline-light mt-3">Ver proyecto</a>
          </div>
        </div>
      </div>

      <div class="col-10 col-sm-6 col-lg-5">
        <div class="card bg-dark text-white h-100 shadow-sm">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-center">ASUARCA</h5>
            <p class="card-text flex-grow-1">Esta pagina fue desarrollada para el acueducto "la caprea" hubiera querido hacer un mejor trabajo UX/UI pero, fue creada al total gusto del usuario, se usa JavaScript, Bootstrap, html y css</p>
            <a href="https://asuarca.com/" target="_blank" class="btn btn-outline-light mt-3">Ver proyecto</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
