
 <div class="scroll-horizontal">
<section class="vh-100 d-flex flex-column justify-content-center align-items-center text-center bg-dark text-white px-3 parallax">   
</section>

<section class="py-5 bg-black text-white text-center px-4">
  <div class="container">
    <h2 class="mb-4">Sobre mí</h2>
    <p class="mb-3">
      Soy desarrollador Full-Stack con especial interés en Angular, interfaces intuitivas y buenas prácticas de código.
      Me apasiona transformar ideas en productos funcionales y visualmente atractivos, actualmente soy estudiante de dos carreras: Ingenieria de software e ingenieria de Sistemas.
    </p>
     <a routerLink="/mis-proyectos" class="btn btn-outline-light mt-1">Ver mis proyectos</a>
  </div>
</section>

<section class="py-5 bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-4">Habilidades</h2>
    <div class="row justify-content-center g-4">

      <div class="col-6 col-md-3">
        <div class="card text-white h-100" style="background-color: #e34c26;">
          <div class="card-body">
            <h5 class="card-title">HTML Y CSS</h5>
            <p class="card-text">Interfaces limpias y accesibles</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="card text-dark h-100" style="background-color: #f0db4f;">
          <div class="card-body">
            <h5 class="card-title">JavaScript</h5>
            <p class="card-text">Interactividad y lógica del navegador.</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="card text-white h-100" style="background-color: #3178c6;">
          <div class="card-body">
            <h5 class="card-title">TypeScript</h5>
            <p class="card-text">Código escalable y estructurado para apps grandes.</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="card text-white h-100" style="background-color: #dd0330;">
          <div class="card-body">
            <h5 class="card-title">Angular</h5>
            <p class="card-text">Framework para aplicaciones web modernas y potentes.</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="card text-white h-100" style="background-color: #563d7c;">
          <div class="card-body">
            <h5 class="card-title">Bootstrap</h5>
            <p class="card-text">Diseños responsivos rápidos y estilizados.</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="card bg-black text-white  h-100">
          <div class="card-body">
            <h5 class="card-title">Consumo de APIs</h5>
            <p class="card-text">Conectando frontend con servicios y datos en tiempo real.</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="card text-white h-100" style="background-color: #5382a1;">
          <div class="card-body">
            <h5 class="card-title">Java</h5>
            <p class="card-text">Programación orientada a objetos y lógica backend sólida.</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="card text-white h-100" style="background-color: #004482;">
          <div class="card-body">
            <h5 class="card-title">C++</h5>
            <p class="card-text">Control de bajo nivel y estructuras de datos avanzadas.</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="card text-white h-100" style="background-color: #68217a;">
          <div class="card-body">
            <h5 class="card-title">C#</h5>
            <p class="card-text">Desarrollo de apps y juegos con .NET y Unity.</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="card text-white h-100" style="background-color: #3776ab;">
          <div class="card-body">
            <h5 class="card-title">Python</h5>
            <p class="card-text">Automatización, scripts y análisis de datos.</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="card text-white h-100" style="background-color: #f05032;">
          <div class="card-body">
            <h5 class="card-title">Git</h5>
            <p class="card-text">Control de versiones para proyectos colaborativos.</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="card bg-secondary text-white h-100">
          <div class="card-body">
            <h5 class="card-title">Scrum Master</h5>
            <p class="card-text">Facilitador de equipos ágiles orientados a resultados.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<section class="py-5 bg-black text-white text-center">
  <div class="container">
    <h2 class="mb-4">¿Trabajamos juntos?</h2>
    <p>Estoy abierto a nuevas oportunidades y colaboraciones.</p>
    <a href="https://wa.link/s2gifd" target="_blank" class="btn btn-light mt-3">Contáctame</a>
  </div>
</section>

</div>

<app-jokes></app-jokes>

