
<nav class="navbar bg-black fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand text-white titulonav" routerLink="home"> <h1 style="font-size: 1.6rem;">CTIVAA</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header bg-black">
        <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">CTIVAA</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body bg-black">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink="home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="mis-proyectos">Mis Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="mas">Mas</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
